/** https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 0.5rem;
  align-items: flex-start;
  /* Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping */
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);

  section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.5rem;

    height: 100%;
    min-height: 80vh;

    background: var(--ion-color-light);
    border-radius: 3px;

    > div {
      display: flex;
      flex-direction: column;

      ion-label.column-title {
        padding: 8px 16px 0;
        font-weight: 500;
      }

      div[status] {
        min-height: 100%;
      }

      div.placeholder-for-pagination {
        display: none;
      }
    }
  }
}

section.delete {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 64px;
  height: 64px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  &.mobile {
    display: none;
  }

  > div {
    background: var(--ion-color-danger);
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    height: 48px;
    width: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      color: var(--ion-color-light);
      font-size: 32px;
    }
  }

  ion-card {
    display: none;
  }
}

ion-infinite-scroll {
  ion-infinite-scroll-content {
    --color: var(--ion-color-light);
  }
}

app-footer {
  margin-top: 48px;
}
