<ng-container *ngIf="loaded; else feedLoading;">
  <main>
    <section>
      <div>
        <ion-label class="column-title">New</ion-label>

        <div dragula="bag" [attr.status]="'new'">
          <ion-card *ngFor="let flat of (flatsNew$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat" [mobile]="isMobile()" (options)="presentOptionsPopover($event, flat)"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Viewings</ion-label>

        <div dragula="bag" [attr.status]="'viewing'">
          <ion-card *ngFor="let flat of (flatsViewing$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat" [mobile]="isMobile()" (options)="presentOptionsPopover($event, flat)"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Applications</ion-label>

        <div dragula="bag" [attr.status]="'applied'">
          <ion-card *ngFor="let flat of (flatsApplied$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat" [mobile]="isMobile()" (options)="presentOptionsPopover($event, flat)"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Rejected</ion-label>

        <div dragula="bag" [attr.status]="'rejected'">
          <ion-card *ngFor="let flat of (flatsRejected$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat" [mobile]="isMobile()" (options)="presentOptionsPopover($event, flat)"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Winner</ion-label>

        <div dragula="bag" [attr.status]="'winning'">
          <ion-card *ngFor="let flat of (flatsWinning$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat" [mobile]="isMobile()" (options)="presentOptionsPopover($event, flat)"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>
  </main>

  <section class="delete ion-margin" dragula="bag" [attr.status]="'disliked'" [class.mobile]="isMobile()">
    <div>
      <ion-icon name="trash" [lazy]="true" aria-label="Delete"></ion-icon>
    </div>
  </section>

  <ion-infinite-scroll (ionInfinite)="findNext($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>

<ng-template #feedLoading>
  <main class="loading">
    <ion-spinner color="light"></ion-spinner>
    <ion-label class="ion-padding">Loading your feed...</ion-label>
  </main>
</ng-template>

