/** https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
  /* Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping */
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);

  section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5rem;
    margin: .5rem 0;

    height: 100%;

    background: var(--ion-color-light);
    border-radius: 3px;

    >  div{
      display: flex;
      flex-direction: column;

      ion-label.column-title {
        padding: 8px 16px 0;
        font-weight: 500;
      }

      div[status] {
        min-height: 100%;
      }
    }
  }
}

ion-infinite-scroll {
  ion-infinite-scroll-content {
    --color: var(--ion-color-light);
  }
}
