<ng-container *ngIf="loaded; else feedLoading;">
  <main>
    <section>
      <div>
        <ion-label class="column-title">New</ion-label>

        <div dragula="bag" [attr.status]="'new'">
          <ion-card *ngFor="let flat of (flatsNew$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Dislike</ion-label>

        <div dragula="bag" [attr.status]="'disliked'">
          <ion-card *ngFor="let flat of (flatsDisliked$ | async);" mode="md" (click)="open(flat)" [attr.key]="flat.id">
            <app-flat [flat]="flat"></app-flat>
          </ion-card>
        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Viewings</ion-label>

        <div dragula="bag" [attr.status]="'viewings'">

        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Applications</ion-label>

        <div dragula="bag" [attr.status]="'applied'">

        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Rejected</ion-label>

        <div dragula="bag" [attr.status]="'rejected'">

        </div>
      </div>
    </section>

    <section>
      <div>
        <ion-label class="column-title">Winner</ion-label>

        <div dragula="bag" [attr.status]="'winner'">

        </div>
      </div>
    </section>
  </main>

  <ion-infinite-scroll (ionInfinite)="findNext($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>

<ng-template #feedLoading>
  <main>
    Initializing your feed
  </main>
</ng-template>

