<ion-list>
  <ion-item *ngIf="status !== 'new'">
    <ion-label>New</ion-label>
  </ion-item>

  <ion-item *ngIf="status !== 'disliked'">
    <ion-label>Delete</ion-label>
  </ion-item>

  <ion-item *ngIf="status !== 'viewing'">
    <ion-label>Viewing</ion-label>
  </ion-item>

  <ion-item *ngIf="status !== 'applied'">
    <ion-label>Apply</ion-label>
  </ion-item>

  <ion-item *ngIf="status !== 'rejected'">
    <ion-label>Rejected</ion-label>
  </ion-item>

  <ion-item *ngIf="status !== 'winning'">
    <ion-label>Winner</ion-label>
  </ion-item>
</ion-list>
