body {
  ion-card[class*="sc-ion-card-md"] {
    background: white;
    --background: white;

    cursor: pointer;

    deckgo-lazy-img {
      --deckgo-lazy-img-width: 100%;
      --deckgo-lazy-img-height: auto;
      --deckgo-lazy-img-display: block;
      --deckgo-lazy-img-object-fit: cover;
      --deckgo-lazy-img-max-height: 160px;
    }

    section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 16px 16px 0;

      position: relative;

      ion-badge {
        padding: 2px 8px;
        font-weight: 300;
        text-transform: capitalize;

        &.ronorp {
          background: #d55e8b;
        }

        &.homegate {
          background: #ea3d43;
        }
      }

      button {
        position: relative;

        border: none;
        margin: 0;
        padding: 8px;
        outline: none;

        width: auto;

        cursor: pointer;
        user-select: none;

        font-size: inherit;

        background: none;
      }
    }

    p {
      font-size: 0.8rem;

      &.published-at {
        margin-top: 16px;
        font-size: 0.5rem;
      }
    }

    ion-card-title {
      font-size: 1rem;
      max-width: calc(260px - 64px);
    }

    &:last-of-type {
      margin-bottom: 32px;
    }
  }
}
