ion-router-outlet {
  ion-content {
    --ion-background-color: #0079bf;

    main {
      overflow-x: scroll;
      overflow-y: hidden;

      &.loading {
        height: 100%;

        color: var(--ion-color-light);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
