<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>

    <ion-title><app-title></app-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="ion-padding">
    <section>
      <h1 class="ion-margin">About</h1>

      <p class="ion-margin">Hey! I'm <a href="https://daviddalbusco.com">David</a>, a freelance web developer and consultant.</p>

      <p class="ion-margin">
        Once again I find myself having to find a new place to live in Zürich City and therefore once again I have to use search engines and platforms to browse
        flats, that, at least to my eyes, were never upgraded, in terms of UX and even sometimes design, since the ’90s 🙈.
      </p>

      <p class="ion-margin">
        Sunday morning, while I was about to visit such websites, I realize that there are no ways to me to undergo the frustration of using these for weeks or
        months, again 😤.
      </p>

      <p class="ion-margin">That's why I've created in a couple of (around four) days this prototype to help me solve my problem.</p>

      <p class="ion-margin">
        Btw. I'm still looking for a new apartment in town, if you have any tips or looking for someone to takeover your rent,
        <a href="mailto:david@fluster.io">ping me</a> 🙏.
      </p>
    </section>

    <section>
      <h1 class="ion-margin">Features</h1>

      <p class="ion-margin">A <a href="https://trello.com/">Trello</a> look alike board updated with new flat ads coming from the housing online market.</p>

      <p class="ion-margin">
        Currently there are no filter available. It's a personal project and therefore these are applied at the source with my matching expectations.
      </p>

      <p class="ion-margin">But hey, it's open source, <a href="https://github.com/peterpeterparker/watamato">pull requests</a> are welcome 😁.</p>
    </section>
  </main>

  <app-footer></app-footer>
</ion-content>
