<img [src]="flat.data.image_url"/>

<ion-badge [class.ronorp]="flat.data.source === 'ronorp'">Ronorp</ion-badge>

<ion-card-header>
  <ion-card-subtitle>{{toDateObj(flat.data.published_at) | date: 'short'}}</ion-card-subtitle>
  <ion-card-title>{{flat.data.title}}</ion-card-title>
</ion-card-header>

<ion-card-content>
  <p>{{flat.data.rooms}} rooms</p>
  <p>{{flat.data.location}}</p>
  <p>{{flat.data.price | currency:'CHF':'symbol':'4.2-2'}}</p>
</ion-card-content>

<button (click)="openOptions($event)">
  <ion-icon name="more"></ion-icon>
</button>
