<deckgo-lazy-img imgSrc="{{ flat.data.image_url }}" img-alt="Cover image"></deckgo-lazy-img>

<section>
  <ion-badge [class.ronorp]="flat.data.source === 'ronorp'">Ronorp</ion-badge>

  <button (click)="openOptions($event)" slot="end" *ngIf="mobile">
    <ion-icon name="more" aria-label="Options"></ion-icon>
  </button>
</section>

<ion-card-header>
  <ion-card-title>{{ flat.data.title && flat.data.title.length > 100 ? (flat.data.title | slice: 0:100) + '...' : flat.data.title }}</ion-card-title>
</ion-card-header>

<ion-card-content>
  <p>{{ flat.data.rooms }} rooms</p>
  <p>{{ flat.data.location }}</p>
  <p>{{ flat.data.price | currency: 'CHF':'symbol':'4.2-2' }}</p>

  <p class="published-at">Published the {{ toDateObj(flat.data.published_at) | date: 'short' }}</p>
</ion-card-content>
