<ion-header>
  <ion-toolbar color="primary">
    <ion-title><app-title></app-title></ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/about']">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="(user$ | async) as user; else userLoading;">
    <app-feed></app-feed>
  </ng-container>

  <ng-template #userLoading>
    <main class="loading">
      <ion-spinner color="light"></ion-spinner>
      <ion-label class="ion-padding">Initializing your anonymous user...</ion-label>
    </main>
  </ng-template>
</ion-content>
