<img src="./assets/img/wave.svg" loading="lazy" role="presentation" />

<main>
  <section>
    <article>
      <h2>Contact Me</h2>

      <p>Have a project or application in mind? Drop me a message <a href="mailto:david@fluster.io">david@fluster.io</a></p>
    </article>

    <article>
      <h2>More Tools</h2>

      <div class="deckdeckgo">
        <p>
          Need to create a presentation? Try out our web open source editor <a href="https://deckdeckgo.com">DeckDeckGo <ion-icon name="open"></ion-icon></a>
        </p>

        <img src="https://deckdeckgo.com/assets/img/deckdeckgo-logo.svg" loading="lazy" role="presentation" aria-label="DeckDeckGo logo" />
      </div>

      <p class="ion-margin-top">
        Looking for a simple, open source and free time tracking app ⏱️? Check out <a href="http://tietracker.app.link">Tie Tracker</a>
      </p>
    </article>
  </section>
</main>
